html {
  font-family: "Noto Sans", sans-serif;
  color: #000;
}

/* .japanese {
  font-family: "Noto Sans Japanese", sans-serif;
} */

nav a {
  color: #0084a6;
  text-decoration: none;
  background-color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: #0084a6 1pt solid;
}

nav a:hover {
  color: #005e76;
  background-color: #fff;
}

.border {
  border-top: 1pt solid #e2e2e2;
  border-bottom: 1pt solid #e2e2e2;
}

.btn-ghost {
  border-color: #8bc9d9;
  color: #005e76;
}

.btn-ghost:hover {
  border-color: #005e76;
  background-color: #8bc9d9;
  color: #005e76;
}

footer {
  border-top: 1pt solid #e2e2e2;
}
